@model PaginatedListModel<FreelanceService.Web.Models.UserExecutorViewModel>

<h1>Executors</h1>

<form asp-action="Executors" method="get">
    <div class="form-actions no-color">
        <p>
            Поиск по имени: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Поиск" class="btn btn-default" /> |
            <a asp-action="Executors">Сбросить</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Executors" asp-route-sortOrder="@ViewData["RatingSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Рейтинг</a>
            </th>
            <th>
                <a asp-action="Executors" asp-route-sortOrder="@ViewData["RegistrationDateTimeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Дата регистрации</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>

                <a asp-controller="Profile" asp-action="Profile" asp-route-userId="@item.Id">Посмотреть</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Executors"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Предыдущая
</a>
<a asp-action="Executors"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Следующая
</a>