@model IEnumerable<FreelanceService.Web.Models.JobViewModel>

@{
    ViewData["Title"] = "MyJobs";
}

<h1>MyJobs</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <label class="control-label" >Категория</label>
            </th>
            <th>
                <label class="control-label">Имя</label>
            </th>
            <th>
                <label class="control-label">Описание</label>
            </th>
            <th>
                <label class="control-label">Местоположение</label>
            </th>
            <th>
                <label class="control-label">Дата окончания</label>
            </th>
            <th>
                <label class="control-label">Цена</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p class="fa-paragraph">@item.CategoryId</p>
            </td>
            <td>
                <p class="fa-paragraph">@item.Name</p>
            </td>
            <td>
                <p class="fa-paragraph">@item.Description</p>
            </td>
            <td>
                <p class="fa-paragraph">@item.City</p>
            </td>
            <td>
                <p class="fa-paragraph">@item.FinishedDateTime</p>
            </td>
            <td>
                <p class="fa-paragraph">@item.Price</p>
            </td>
            <td>
                <a asp-controller="Customer" asp-action="MyJobDetails" asp-route-jobId="@item.Id">Посмотреть</a>
                <a asp-controller="Customer" asp-action="EditJob" asp-route-jobId="@item.Id">Редактировать</a>
                <a asp-controller="Customer" asp-action="DeleteJob" asp-route-jobId="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
