@model PaginatedListModel<FreelanceService.Web.Models.JobViewModel>
@using FreelanceService.Common.Extensions

@{
    ViewData["Title"] = "MyJobs";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Мои заказы</h5>
                </div>
                <div class="card-header">
                    <a asp-controller="Customer" asp-action="CreateJob" class="btn btn-success btn-sm">Создать новый заказ</a>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <label class="control-label">Категория</label>
                                </th>
                                <th>
                                    <label class="control-label">Имя</label>
                                </th>
                                <th>
                                    <label class="control-label">Описание</label>
                                </th>
                                <th>
                                    <label class="control-label">Местоположение</label>
                                </th>
                                <th>
                                    <label class="control-label">Дата окончания</label>
                                </th>
                                <th>
                                    <label class="control-label">Цена</label>
                                </th>
                                <th>
                                    <label class="control-label">Статус</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <p>@item.CategoryId</p>
                                    </td>
                                    <td>
                                        <p>@item.Name</p>
                                    </td>
                                    <td>
                                        <p>@item.Description</p>
                                    </td>
                                    <td>
                                        <p asp-for="@item.City">@item.City.DisplayName()</p>
                                    </td>
                                    <td>
                                        <p>@item.FinishedDateTime.Date.ToString("d")</p>
                                    </td>
                                    @if (item.Price != null)
                                    {
                                        <td>
                                            <p>@item.Price</p>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <p>По договоренности</p>
                                        </td>
                                    }
                                    <td>
                                        <p asp-for="@item.Status">@item.Status.DisplayName()</p>
                                    </td>
                                    <td>
                                        <a asp-controller="Customer" asp-action="MyJobDetails" asp-route-jobId="@item.Id">Посмотреть</a>
                                        <a asp-controller="Customer" asp-action="EditJob" asp-route-jobId="@item.Id">Редактировать</a>
                                        <a asp-controller="Customer" asp-action="DeleteJob" asp-route-jobId="@item.Id">Удалить</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @await Html.PartialAsync("Partials/_Paginator",
    new PaginatorViewModel
    {
        Action = "MyJobs",
        Controller = "Customer",
        Url = Url,
        Paginator = Model
    })
                </div>
            </div>
        </div>
    </div>
</div>



