@model FreelanceService.Web.Models.ProfileViewModel

@{
    ViewData["Title"] = "View";
}

<h1>Профиль</h1>

<div><label asp-for="FirstName" class="control-label"></label> <label> : @Model.FirstName</label></div>
<div><label asp-for="LastName" class="control-label"></label> <label> : @Model.LastName</label></div>
<div><label asp-for="Email" class="control-label"></label> <label> : @Model.Email</label></div>
<div><label asp-for="Phone" class="control-label"></label> <label> : @Model.Phone</label></div>
<div><label asp-for="City" class="control-label"></label> <label> : @Model.City</label></div>
<div><label asp-for="Role" class="control-label"></label> <label> : @Model.Role</label></div>

@await Html.PartialAsync("_PartialFunctionality")