@model IEnumerable<FreelanceService.Web.Models.JobViewModel>

@{
    ViewData["Title"] = "MyJobs";
}

<h1>MyJobs</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-controller="MyJobs" asp-action="ViewDetailsJob" asp-route-jobId="@item.Id">Посмотреть</a>
                <a asp-controller="MyJobs" asp-action="EditJob" asp-route-jobId="@item.Id">Редактировать</a>
                <a asp-controller="MyJobs" asp-action="DeleteJob" asp-route-jobId="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
